In [4]:
import tensorflow as tf
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pickle
from tensorflow.keras.models import load_model

In [ ]:
#load the model file
model=load_model('model.h5')

WARNING:tensorflow:From d:\Restart\ANN\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [9]:
##Loading other Libraries
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('lable_encoder_gender.pkl','rb') as file:
    lable_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [11]:
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [21]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 40,
 'Tenure': 3,
 'Balance': 60000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000}

In [ ]:
df=pd.DataFrame(input_data,index=[0])

In [28]:
df

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            50000

[1 rows x 10 columns]

In [36]:
df['Gender']=lable_encoder_gender.transform(df['Gender'])

In [37]:
df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [ ]:
geo_loc=onehot_encoder_geo.transform(df[['Geography']])
geo_locs=onehot_encoder_geo.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [34]:
df1=pd.DataFrame(data=geo_loc,columns=geo_locs)

In [35]:
df1

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [45]:
data=pd.concat([df,df1],axis=1)

In [49]:
data.drop(columns=['Geography'],inplace=True)
data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [50]:
scal=scaler.transform(data)

In [51]:
scal

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [53]:
#actual prediction
pred=model.predict(scal)

1/1 [==============================] - 0s 438ms/step

In [57]:
prediction_proba=pred[0][0]

In [58]:
if prediction_proba >= 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.